 .body {
	-ms-overflow-style: none;
	background-color: #171717;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: larger;
	color: #ffffff;
	margin: 0px;
}
   
.title {
	font-size:3rem;
	font-weight: bold;
	color: #ffffff;
  }

.label {
	font-size: 3.5rem;
	font-weight: bold;
	color: #ffffff;
  }

.status {
	font-size: 4rem;
	font-weight: bold;
	color: #ffffff;
	background-color: rgb(0, 31, 99);
  }

.status_active {
	font-size: 4rem;
	font-weight: bold;
	color: rgb(255, 0, 163);
	background-color: rgb(0, 31, 99);	
}

 .demo_title {
	font-size:5rem;
	font-weight: bold;
	color: #ffffff;	
 }

.tab {
	font-size: 3rem;
	font-weight:normal;
	color: rgb(0, 0, 0);
	border-image: none;
	border-radius: 2px;
	border-style: none;
	box-shadow: 1px 1px 3px rgb(57, 57, 57);
	padding: 5px;
}

.nbContent > header.top {
    background: rgb(4, 18, 83);
    border-bottom: none;
}

/*
.nbContent > header.top > tabs > tab {
    background: rgb(17, 136, 130);
    border-image: none;
    border: 10px solid rgba(0,0,0,0.4);
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
	box-shadow: 3px 3px 10px #707070;
	padding: 10px;

}
*/
.nbContent > header > tabs > tab:hover {
    background: rgb(255, 255, 255);
	box-shadow: inset 0 0 15px rgb(255, 255, 255);
}

.nbContent > header > tabs > tab:checked {
	border: none;
	box-shadow: 1px 1px 3px rgb(176, 203, 235);
	padding: 5px;
	background: rgb(176, 222, 248);
}

.labelm {
	font-size: 3.5rem;
	font-weight: bold;
	color: rgb(255, 0, 163);
  }

.label_m {
	font-size: 3.8rem;
	font-weight: bold;
	color: #ffffff;
  }

.label_xl_m {
	font-size: 3rem;
	font-weight: bold;
	color: rgb(255, 0, 163);
 }

.label_xl {
	font-size: 3rem;
	font-weight: bold;
	color: #ffffff;
  }

.label_l {
	font-size: 4rem;
	font-weight: bold;
	color: rgb(255, 255, 255);
 }

.label_l_m {
	font-family: Consolas, monaco, monospace;
	font-size: 4rem;
	font-weight: bold;
	color: rgb(255, 0, 163);
}

.label_l_t {
	font-size: 3.2rem;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.dropdown {
	text-decoration: none;
	font-size: 3rem;
	color: rgb(0,0,0);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3), 
	             0px 0px 0px rgba(0,0,0,0.7);
	border-radius: 2px;
	border-style: none;
	box-shadow: 3px 3px 10px #888888;
	padding: 0px;
	background: rgb(255, 255, 255);
	transition: color 0.1s, background 0.1s;
	border: 3px solid rgb(250, 250, 250);
}

.dropdown menu {
	text-decoration: none;
	font-size: 3rem;
	color: rgba(0,30,95,1.0);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3), 
	             0px 0px 0px rgba(255,255,255,1);
	border-radius: 2px;
	border-style: none;
	box-shadow: 3px 3px 10px #888888;
	padding: 0px;
	background: rgb(208, 210, 212);
	transition: color 0.1s, background 0.1s;
	border: 3px solid rgb(250, 250, 250);
}

.dropdown button:hover {
	text-decoration: none;
	color: rgba(248,248,248,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3), 
	             0px 0px 0px rgb(255,255,255);
	background: rgb(255, 0, 163);
	box-shadow: 3px 3px 10px rgb(255, 0, 163);
}

.menu_button {
	text-decoration: none;
	font-size: 3.5rem;
	color: rgb(0,0,0);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3), 
	             0px 0px 0px rgba(0,0,0,0.7);
	border-radius: 2px;
	border-style: none;
	box-shadow: 3px 3px 10px #888888;
	padding: 3px;
	background: rgb(255, 255, 255);
	transition: color 0.1s, background 0.1s;
	border: 3px solid rgb(250, 250, 250);
}

/*.menu_button:focus {     
	background: rgb(255, 0, 163);
	box-shadow: 3px 3px 10px rgb(255, 0, 163);

}*/

.menu_button:hover {
	text-decoration: none;
	color: rgba(248,248,248,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3), 
	             0px 0px 0px rgba(255,255,255,1);
	background: rgb(255, 0, 163);
	box-shadow: 3px 3px 10px rgb(255, 0, 163);
}


.box {
	box-shadow: 3px 3px 10px #888888;
	padding: 3px;
}





/* Green button */
#scan_button, #ap_password_page button{
	background: rgb(201, 210, 0);
	border: 3px solid #668a08;
}

#scan_button:hover, #ap_password_page button:hover {
	background: rgb(115, 152, 51);
}


/* Red button */
#clear_confirm button.warning, #clientJoin_banner button.warning {
	background: #d72c2c;
	border: 3px solid #9e1212;
}
#clear_confirm button.warning:hover, #clientJoin_banner button.warning:hover {
	background: #b31414;
}

.menu_button:focus, #ap_password_page button:focus
{
	outline: 0;
}


.bar {
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-item a{
	font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;	
	background: #171717;
	padding: 1.2rem 1.2rem;		
}

.nav-item a:hover{
	background: #41c363;
}
.nav-item a.current {
	background: black;
	outline: solid 1px white;
	outline-offset: -1px;
}

.footer
{
	padding: 1px 10px 0px 10px;
	background: #41c363;
	font-size: 1.5em;
	font-weight: bold;
}
